include README.md
include LICENSE

include Procfile
include runtime.txt
include app.json
include downloads/.empty
include manifest.json

recursive-include config *
recursive-include static *
recursive-include app/assets *
