include README.md
include LICENSE
include requirements.txt
include Procfile
include runtime.txt
include app.json
include downloads/.empty
include manifest.json

recursive-include config *
recursive-include static *
recursive-include examples *
recursive-include app/assets *
