
flask==2.1.1
uuid==1.30
plotly==4.14.3
dash==1.20.0
dash_bootstrap_components==0.12.0
dash-extensions==0.0.60
gunicorn==20.1.0
mrsimulator>=0.6.0rc5
git+git://github.com/lmfit/lmfit-py.git@fdaf1d1fd6a91dbfa68bd7529a9ecfc59b2d3aba#egg=lmfit
redis==3.5.3
celery[redis]==5.0.5
mrinversion>=0.1
beautifulsoup4==4.10.0
requests==2.26.0
pdfkit==0.6.1
kaleido==0.2.1

# development packages
pytest-runner>=5.0
pytest>=5.3
black
pre-commit>=1.16.1
coverage>=4.5.3
pytest-cov
codecov
