#fit-report-iframe {
  width: 100%;
  height: calc(var(--content-max-height) - 6.45rem);
  display: flex;
  align-items: stretch;
  border: 1px solid silver;
  border-radius: 0.5em;
  background-color: white;
  margin: 0.5em 0;
}

.fit-scroll {
  min-height: calc(var(--content-min-height) - 6em);
  height: calc(var(--content-max-height) - 6em);
  overflow-y: auto;
  scrollbar-width: thin;
}

/* Checkbox */
.fit-scroll table thead th:first-child {
  width: 8%;
}
/* Options modal button */
.fit-scroll table thead th:last-child {
  width: 8%;
}
/* Name */
.fit-scroll table thead th:nth-child(2) {
  width: 56%;
}
/* Value */
.fit-scroll table thead th:nth-child(3) {
  width: 28%;
}

.feature-rows input[type="number"],
.feature-rows input[type="text"] {
  width: 100%;
  padding: 0.5em;
  margin: -0.5em;
  border-radius: 0.2em;
  border: 1px solid var(--text-box-underline-color);
}

/* Need to not apply border to last child in table */
.feature-rows input:focus,
.feature-rows:focus {
  color: black;
  text-decoration: none;
  cursor: text;
  background-color: white;
  border: 1px solid #48a3ff;
  box-shadow: 0 0 2px 1px #48a3ff7c;
}

.custom-radio .btn-primary {
  width: 24px;
  height: auto;
  border-radius: 12px;
  color: black;
  background-color: white;
  border: 1px solid #dfdfdf;
}

.custom-radio .btn-primary:hover {
  color: black;
  background-color: #cee3ff;
}

.custom-radio .btn-primary:not(:disabled):not(.disabled).active {
  color: white;
  background-color: var(--select-blue);
}

.table-select .custom-control {
  padding: 0 0.15em;
}

.table-select .custom-control-label {
  padding: 0;
}
.table-select .custom-control-input ~ .custom-control-label::before,
.table-select
  .custom-radio
  .custom-control-input
  ~ .custom-control-label::after {
  content: none;
}


.feature-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}
.feature-select .btn-link {
  padding: 3px 8px;
}
.feature-select h6 {
  margin: auto 0;
}

#features-modal .modal-body div {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

#features-modal-min,
#features-modal-max {
  margin: -0.2em;
  /* border-radius: 0.1em; */
}

#features-modal-expr {
  border-color: #8f8f8f;
  width: 60%;
  margin: -0.2em;
}
