/* navbar */
.navbar {
  background: linear-gradient(to right, #361512, #1b0a03);
  display: flex;
  width: 100%;
  height: 2.7em;
  align-items: center;
  justify-content: space-around;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 4px;
}

.logo {
  position: absolute;
  bottom: 0;
  left: 2em;
}

.nav-composite {
  position: absolute;
  bottom: 0;
  left: 12em;
  width: calc(100% - 12em);
  background-color: white;
  border-top-left-radius: 3em;
  padding: 2px 0 2px 2em;
  border-bottom: 1px solid lightgray;
  transition: all 0.3s ease;
}

.nav-burger {
  display: flex;
}

.bottom-navbar {
  height: 2.5rem;
  background: linear-gradient(to right, #361512 0%, #1b0a03 100%);
  margin: 0;
}
