.card-flip-hide {
  pointer-events: none;
}

.card-flip-show {
  pointer-events: all;
}

.scene {
  perspective: 1500px;
}

.card-3D {
  margin: 0;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-3D-is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: rotateX(0deg);
}

.card-face-back {
  transform: rotateX(0deg);
  transform: rotateY(180deg);
}

#dimension-card-title:hover,
#isotopomer-card-title:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

@media only screen and (min-width: 1200px) {
  .card-3D {
    transition: none;
    transform-style: none;
  }
  .card-face {
    position: relative;
  }

  .card-flip-hide {
    pointer-events: all;
  }
  .card-face-back {
    transform: none;
  }
  .card-3D-is-flipped {
    transform: none;
  }
  #dimension-card-title,
  #isotopomer-card-title {
    pointer-events: none;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .card-3D {
    transition: none;
    transform-style: none;
  }
  .card-face {
    position: relative;
  }

  .card-flip-hide {
    pointer-events: all;
  }
  .card-face-back {
    transform: none;
  }
  .card-3D-is-flipped {
    transform: none;
  }
  #dimension-card-title,
  #isotopomer-card-title {
    pointer-events: none;
  }
}

@media only screen and (max-width: 576px) {
  #isotopomer_computed_log {
    /* padding: 10vh; */
    min-height: 100vh;
  }
  #isotopomer_form-collapse {
    max-height: calc(100vh - 40px - 150px);
    overflow-y: scroll;
  }
  #dimension-tab-scroll-0 {
    max-height: calc(100vh - 95px);
    overflow-y: scroll;
  }
}
