input[type="search"]:focus {
  border: 1px solid rgb(72, 163, 255);
}

.nav-tabs {
  flex-wrap: nowrap;
}
.nav-tabs > .nav-item {
  cursor: pointer;
}
.nav-tabs > .nav-item > .nav-link {
  border: 1px solid #c0c0c0a9;
  border-bottom: none;
}
.nav-tabs > .nav-item > .nav-link.active {
  border-top: 3px solid var(--select-blue);
  background-color: #f4f9ff;
}

#info-body.left-card h4 {
  padding-bottom: 1rem;
}
[id$="-body"].left-card {
  display: none;
  height: var(--content-max-height);
  width: 50vw;
  border: none;
  box-shadow: none;
}

#spectrum-body.my-card {
  width: 45vw;
  box-shadow: 0 0 10px 0 silver;
  height: calc(var(--content-max-height) - 3em);
  background-color: white;
  padding: 0 1em;
}

#spectrum-body.my-card,
[id$="-body"].left-card.active {
  overflow: hidden;
  min-height: var(--content-min-height);
  display: block;
  margin: 1em;
  border-radius: 0.6em;
}

#spectrum-body .dash-graph {
  padding-right: 0.5em;
}

.dark-mode [id$="-body"].my-card {
  background: rgb(218, 218, 218);
}

#nmr_spectrum {
  min-height: calc(var(--content-min-height) - 7.85rem);
  height: calc(var(--content-max-height) - 7.85rem);
}

.card-header {
  height: 4em;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  background-color: transparent;
  border-bottom: none;
}

.card-header input {
  min-width: 5rem;
  border-radius: 0.35rem;
  border: 1px solid #b5dbff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 0;
}

.card-header h4 {
  padding-left: 0.75rem;
  margin: 0;
}

.card-header div {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

.submit-button button {
  width: 12rem;
  float: right;
  color: #0366d6;
  font-weight: 500;
  background-color: #f1f8ff;
  margin-right: 1em;
}

.submit-button button:hover,
.submit-button button:focus {
  background-color: #d9ecff;
  color: #0366d6;
}

.submit-button button:active {
  background-color: #d9ecff;
}

.submit-button {
  float: right;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.tab-pane > div > div > div:nth-child(odd) {
  background-image: linear-gradient(
    125deg,
    rgba(243, 243, 243) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

.scroll-cards h6 {
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 600;
}

.scroll-cards h6 div,
.scroll-cards p div {
  display: flex;
  justify-content: space-between;
}

.scroll-cards h6 div svg,
.scroll-cards b div svg {
  cursor: pointer;
}

.container {
  padding: 1rem;
  padding-top: 0.5rem;
}

/* dash callback loading */
*[data-dash-is-loading="true"] {
  opacity: 1;
  pointer-events: none;
  visibility: visible;
}

.hide-display {
  display: none;
}

.icon-button,
.icon-button:hover,
.icon-button:active {
  background: none;
  color: gray;
  border: none;
  padding-bottom: 0.3rem;
  float: right;
}
.icon-button:hover {
  color: black;
}
@media only screen and (max-width: 912px) {
  #spectrum-body.my-card {
    padding-left: 0.25rem;
  }
  #spin-system-body.left-card,
  #method-body.left-card,
  #info-body.left-card {
    padding-right: 0.25rem;
  }
}

@media only screen and (max-width: 810px) {
  [id$="-body"].left-card,
  [id$="-body"].my-card {
    position: relative;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    min-width: calc(100vw - 0.25rem);
    scroll-snap-align: center;
    padding: 0;
  }
}

.col-lg-4 {
  padding: 0.5em;
}

table {
  table-layout: fixed;
  width: 100%;
  background-color: white;
  border-radius: 0.5em;
  margin: 0 0 1em 0;
}

table:hover {
  box-shadow: 0 0 10px 0 #4b4b4b27;
}
table td:first-child,
table td:last-child {
  width: 10%;
}
table td {
  text-align: center;
  padding: 0.6em 0.6em;
  border-right: 1px solid #dfdfdf;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table tr {
  border-bottom: 1px solid #dfdfdf;
  background-color: none;
}
table tr:not(:first-child):hover {
  background-color: #cee3ff;
}
table tr.active,
table tr.active:hover {
  background-color: var(--select-blue);
  color: white;
}
table tr:last-child {
  border-bottom: none;
}
table td:last-child {
  border-right: none;
}
span[data-edit-sys],
span[data-edit-mth] {
  color: #cacaca;
  cursor: pointer;
}
span[data-edit-sys]:hover,
span[data-edit-mth]:hover {
  color: #414141;
}

div[data-info-table] div[data-table-header-mth],
div[data-info-table] div[data-table-header-sys] {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}
div[data-info-table] ul[data-edit-tools] {
  display: flex;
}
div[data-info-table] ul[data-edit-tools] li {
  padding: 0 0.75em;
  margin: auto;
  list-style-type: none;
  color: gray;
}
div[data-info-table] ul[data-edit-tools] li:hover {
  color: black;
}
