/* input groups */

.input-form-2 {
  width: 100%;
  justify-content: start;
  display: flex;
  font-weight: 300;
  line-height: 1.75rem;
}

.input-form-2 .label-left {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0.5rem;
  white-space: nowrap;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.input-form-2 .label-right {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0.25rem;
  min-width: 2.5rem;
  text-align: right;
}

.input-form-2 input {
  cursor: pointer;
  text-align: right;
  min-width: 20%;
  max-width: 35.5%;
  margin-left: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.2rem;
  background-color: transparent;
  border: 1px solid transparent;
}

.input-form-2 input:valid {
  color: rgb(0, 37, 160);
  text-decoration: underline;
}

.input-form-2 input:invalid {
  color: rgba(236, 26, 54, 0.918);
  text-decoration: line-through;
  outline: none;
}

.input-form-2 input:invalid .input-form-2 input:after {
  content: "invalid";
  /* color: rgba(236, 26, 54, 0.918);
  text-decoration: line-through;
  outline: none; */
}

.input-form-2 input:focus,
.input-text:focus {
  color: black;
  text-decoration: none;
  cursor: text;
  background-color: white;
  border: 1px solid rgb(72, 163, 255);
  transition: all 0.3s ease;
}

.input-text {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0rem;
  /* background-color: transparent; */
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

textarea {
  height: 100%;
  width: 100%;
}


/* dash-bootstrap customize */
/* .input-group-append {
  width: 3.5rem;
  display: flex;
  text-align: right;
  justify-content: space-around;
  flex-direction: column;
} */

.input-group-prepend {
  width: 9rem;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.input-group {
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.input-group-text {
  background: transparent;
  padding-left: 0;
  border: none;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 300;
}

.input-group select option {
  text-align: right;
}

.input-group select {
  height: 1.85rem;
  min-width: 20%;
  max-width: 100%;
  padding-left: 1rem;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
}

.input-group select:active,
.input-group select:focus {
  box-shadow: none;
}
