.home-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}
.home-page a {
  padding: 4.5em;
  cursor: pointer;
  border: 1px solid silver;
  border-radius: 0.5em;
  text-decoration: none;
  font-size: 1.75em;
}
.home-page a:hover {
  box-shadow: 0 0 10px 0 #8080803a;
}
