#info-read-only {
  height: calc(100vh - 140px);
  width: 100%;
  padding: 1rem;
  /* padding-top: 1rem;
    padding-bottom: 1rem; */
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.068);
}
