/* Media query sizes, 320, 480, 600, 768, 992, and 1382px. */
@media only screen and (max-device-width: 992px) {
  .tooltip {
    display: none !important;
  }
  .cursor-pointer {
    pointer-events: none !important;
  }
  /* .btn:hover, */
  /* .btn:active {
    color: inherit !important;
  } */
}

@media only screen and (max-device-width: 400px) {
  body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  /* #dimension-body {
    min-height: 50vh;
  }
  #mrsimulator-logo {
    height: 44px;
  }
  #top-navbar {
    position: fixed;
    z-index: 5;
    min-height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #spectrum-body {
    border-radius: 0px;
    position: fixed;
    top: 55px;
    z-index: 4;
    width: 100vw;
    will-change: transform;
    box-shadow: 0 4px 15px 0px #d6d6d6;
  } */

  /* drawer and navbar imports */
  #import-navbar,
  #drawers-import {
    position: fixed !important;
    z-index: 5;
    background-color: #343942;
    width: 100vw;
    border-radius: 0px;
  }
  #import-navbar {
    bottom: 0;
    height: 40px;
  }
  #drawers-import {
    bottom: 40px;
  }
  .grow {
    height: 262px;
  }

  .bottom-navbar .div {
    display: none;
  }
}
/* iphone layout landscape */
/* @media only screen and (max-device-width: 400px) and (orientation: landscape) {
  #spectrum-body {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
  }
  #nmr_spectrum {
    height: calc(100vh - 75px);
  }
  #dimension-body,
  #isotopomer-body,
  #top-navbar,
  #drawers-import,
  #bottom-navbar {
    display: none;
  }
  #import-navbar {
    display: none;
  }
} */

/* ipad layout portrait */
/* @media only screen and (min-device-width: 400px) and (max-device-width: 992px) and (orientation: portrait) {
  #spectrum-body {
    top: 0px;
    height: 100vh;
    width: 100vw;
  }
  #nmr_spectrum {
    height: calc(100vh - 75px);
  }
  #dimension-body,
  #top-navbar,
  #drawers-import,
  #bottom-navbar {
    display: none;
  }
  #import-navbar {
    visibility: hidden;
    display: none;
  }
} */

/* ipad layout landscape */
/* @media only screen and (max-device-width: 992px) and (orientation: landscape) {
  body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  #spectrum-body {
    position: fixed;
    object-position: left;
    left: 0;
    top: 0;
    height: 100vh;
    width: 60vw;
  }
  .my-card {
    border-radius: 0;
  }
  #interface-dimension-isotopomer {
    position: fixed;
    object-position: right;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
  }
  #dimension-body,
  #isotopomer-body,
  #spectrum-body {
    height: 200vh;
  }
  #sidebar,
  #navbar-group,
  .bottom-navbar,
  .navbar-reveal,
  #buffer {
    display: none;
    pointer-events: none;
  }
} */

/* @media only screen and (max-device-width: 400px) and (orientation: portrait) {
  #dimension-body {
    min-height: 50vh;
  }
  #spectrum-body {
    height: 40vh;
  }
  #nmr_spectrum {
    height: calc(40vh - 55px);
  }
  .buffer {
    height: calc(40vh + 50px);
  }
  body {
    -webkit-user-select: none;
  }
} */
