.master-toolbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.right-menu {
		padding: 3px 8px;
		border-radius: 0.25em;
		display: block;

		&:hover {
			color: #494949;
			background-color: #e4e4e4;
		}
	}

	.menu {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;

		.menu-item {
			position: relative;
			padding: 0;
			margin: 0;

			h6,
			>div,
			a {
				display: block;
				color: #494949;
				text-decoration: none;
				outline: none;
				padding: 7px 15px;
				padding-right: 30px;
				cursor: pointer;

				&:hover {
					color: white;
					background-color: var(--select-blue);
				}
			}

			>label {
				display: block;
				color: #494949;
				border-radius: 0.25em;
				text-decoration: none;
				padding: 7px 15px;
				margin: 0;
			}

			&:hover {
				>label {
					color: #494949;
					background-color: #e4e4e4;
				}
			}

			hr {
				margin-top: 0.25rem;
				margin-bottom: 0.25rem;
			}

			&.has-sub-menu {
				>a {
					position: relative;
					&:hover {
						&:after {
							color: white;
						}
					}
				}

				.sub-menu {
					position: absolute;
					z-index: 999;

					opacity: 0;
					transform: translateY(-20px);
					pointer-events: none;
					transition: 0.1s ease-out;

					min-width: 100%;
					width: max-content;
					background-color: #f5f5f5;
					list-style-type: none;
					border-radius: 0.5rem;
					box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.3);

					.menu-item {
						width: 100%;
					}
				}

				&:hover {
					>.sub-menu {
						opacity: 1;
						transform: translateY(0);
						pointer-events: all;

						.sub-menu {
							top: 0;
							left: 100%;
						}
					}
				}
			}
		}
	}

	.close-menu {
		display: none;
		color: #FFF;
		text-decoration: none;
		text-align: center;
	}
}
