.master-toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid lightgray;
}
.master-toolbar .right-menu {
  padding: 3px 8px;
  border-radius: 0.25em;
  display: block;
}
.master-toolbar .right-menu:hover {
  color: #494949;
  background-color: #e4e4e4;
}
.master-toolbar .menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.master-toolbar .menu .menu-item {
  position: relative;
  padding: 0;
  margin: 0;
}
.master-toolbar .menu .menu-item h6,
.master-toolbar .menu .menu-item > div,
.master-toolbar .menu .menu-item a {
  display: block;
  color: #494949;
  text-decoration: none;
  outline: none;
  padding: 7px 15px;
  padding-right: 30px;
  cursor: pointer;
}
.master-toolbar .menu .menu-item h6:hover,
.master-toolbar .menu .menu-item > div:hover,
.master-toolbar .menu .menu-item a:hover {
  color: white;
  background-color: var(--select-blue);
}
.master-toolbar .menu .menu-item > label {
  display: block;
  color: #494949;
  border-radius: 0.25em;
  text-decoration: none;
  padding: 7px 15px;
  margin: 0;
}
.master-toolbar .menu .menu-item:hover > label {
  color: #494949;
  background-color: #e4e4e4;
}
.master-toolbar .menu .menu-item hr {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.master-toolbar .menu .menu-item.has-sub-menu > a {
  position: relative;
}
.master-toolbar .menu .menu-item.has-sub-menu > a:hover:after {
  color: white;
}
.master-toolbar .menu .menu-item.has-sub-menu .sub-menu {
  position: absolute;
  z-index: 999;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: 0.1s ease-out;
  min-width: 100%;
  width: max-content;
  background-color: #f5f5f5;
  list-style-type: none;
  border-radius: 0.5rem;
  box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.3);
}
.master-toolbar .menu .menu-item.has-sub-menu .sub-menu .menu-item {
  width: 100%;
}
.master-toolbar .menu .menu-item.has-sub-menu:hover > .sub-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.master-toolbar .menu .menu-item.has-sub-menu:hover > .sub-menu .sub-menu {
  top: 0;
  left: 100%;
}
.master-toolbar .close-menu {
  display: none;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .master-toolbar .close-menu {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .master-toolbar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: 999;
    background-color: #222;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease-out;
  }
  .master-toolbar.is-active {
    opacity: 1;
    pointer-events: all;
  }
  .master-toolbar .menu {
    flex-direction: column;
  }
  .master-toolbar .menu .has-sub-menu > .sub-menu {
    display: none;
    position: relative;
  }
  .master-toolbar .menu .has-sub-menu > .sub-menu .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
  .master-toolbar .menu .has-sub-menu:hover > .sub-menu {
    display: block;
  }
}

/*# sourceMappingURL=menubar.css.map */
