.tab-scroll.method {
  min-height: calc(var(--content-min-height) - 15.35em);
  height: calc(var(--content-max-height) - 15.35em);
  overflow-y: auto;
  scrollbar-width: thin;
}

/* .tab-scroll.method::-webkit-scrollbar,
#method-read-only::-webkit-scrollbar {
  display: none;
} */

.vertical-tabs {
  flex-direction: column;
  width: 2.5em;
  background-color: #f0f0f0;
  border-right: 1px solid silver;
}
