/* Slider offset for spin system split screen */
.met-slide-offset {
  display: flex;
  width: 200%;
  justify-content: space-evenly;
  transition: all 0.3s ease;
}

.met-slide-offset .slider1,
.met-slide-offset .slider2 {
  padding-left: 1.75rem;
  overflow-x: hidden;
  width: 100%;
}

.met-slide {
  display: flex;
  width: 100%;
  transition: all 0.3s ease;
}

.met-slide .slider1 {
  position: relative;
  width: var(--opt-side-scroll-width);
  border-right: 1px solid silver;
  transition: all 0.3s ease;
  margin-left: -1px;
  margin-top: -1px;
}

.met-slide .slider2 {
  position: relative;
  width: calc(100% - var(--opt-side-scroll-width));
  transition: all 0.3s ease;
}

#method-read-only {
  min-height: calc(var(--content-min-height) - 3.5em);
  height: calc(var(--content-max-height) - 3.5em);
  scrollbar-width: thin;
  width: 100%;
  background: transparent;
  overflow-y: auto;
}

.tab-scroll.method {
  min-height: calc(var(--content-min-height) - 16.99em);
  height: calc(var(--content-max-height) - 16.99em);
  overflow-y: auto;
  scrollbar-width: thin;
}

.tab-scroll.method::-webkit-scrollbar,
#method-read-only::-webkit-scrollbar {
  display: none;
}

#dim-tab > div > div {
  display: flex;
}

.vertical-tabs {
  flex-direction: column;
  width: 2.5em;
  background-color: #f0f0f0;
  border-right: 1px solid silver;
}

#dim-tab > div > div > .tab-content {
  display: block;
  overflow: hidden;
  width: 100%;
}

/* media for spin systems and methods*/
@media only screen and (max-width: 575px),
  (min-width: 810px) and (max-width: 1100px) {
  .met-slide .slider1 {
    width: var(--opt-side-scroll-min-width);
  }

  .met-slide .slider2 {
    width: calc(100% - var(--opt-side-scroll-min-width));
  }
}

[id^="transition-"] {
  display: none;
}
