/* Slider offset for isotopomer split screen */
.met-slide,
.met-slide-offset,
.met-slide .slider1,
.met-slide .slider2,
.met-slide-offset .slider1,
.met-slide-offset .slider2 {
  height: calc(var(--isotopomer-content-max-height) - 95px);
}

.met-slide-offset {
  display: flex;
  width: 200%;
  justify-content: space-evenly;
  transition: all 0.3s ease;
}

.met-slide-offset .slider1,
.met-slide-offset .slider2 {
  overflow-x: scroll;
  width: 100%;
}

.met-slide {
  display: flex;
  width: 100%;
  transition: all 0.3s ease;
}

.met-slide .slider1 {
  position: relative;
  width: var(--opt-side-scroll-width);
  border-right: 0.5px solid #58270a;
}

.met-slide .slider2 {
  z-index: 2;
  position: relative;
  width: calc(100% - var(--opt-side-scroll-width));
}
