/* navbar */
.navbar {
  background: linear-gradient(to right, #361512, #1b0a03);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 4px;
}

.color-gradient {
  height: 10px;
  background: linear-gradient(to right, #ff8a00 0%, #e52e71 100%);
}

/* burger for mobile screens */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  box-sizing: border-box;
  width: 25px;
  height: 3px;
  background-color: rgb(231, 231, 231);
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-composite {
  width: 100%;
}

/* logo animation */
.navbar-brand:hover {
  padding-left: 1rem;
  padding-right: 1rem;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.navbar-brand {
  padding-left: 1rem;
  padding-right: 1rem;
  transform: scale(1);
  transition: all 0.3s ease;
}

.nav-burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-fill {
  background: transparent;
  border: none;
}

.top-navbar {
  height: 3rem;
  border-top: 1px solid black;
  border-left: 1px solid black;
  overflow: hidden;
  border-top-left-radius: 3rem;
  background: linear-gradient(to right, #ff8800a9, #e52e7180);
}

.secondary-nav-link {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-nav-link div {
  text-shadow: 1px 1px 1px rgb(39, 39, 39);
}

.secondary-nav-link:hover,
.secondary-nav-link:active {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.navbar .nav-link,
.secondary-nav-link {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  transform: scale(1);
  transition: transition 0.3s ease;
  -webkit-transition: transform 0.3s ease;
}

.navbar .nav-link:hover {
  transform: scale(1.1);
  color: rgb(231, 231, 231);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.navbar-reveal {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #361512 0%, #1b0a03 100%);
}

.bottom-navbar {
  z-index: 0;
  height: 4rem;
  background: linear-gradient(to right, #361512 0%, #1b0a03 100%);
}

/* button style */
/* .btn:hover + .btn.svg-inline--fa {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
} */

@media only screen and (max-width: 768px) and (min-width: 575px) {

  /* .navbar-brand {
    transform: translateX(-20%) scale(0.7);
    width: 9rem;
    transition: all 0.3s ease;
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 0;
  }
  .navbar-brand:hover {
    transform: translateX(-20%) scale(0.7);
    width: 9rem;
    transition: all 0.3s ease;
    padding-left: 1rem;
    padding-right: 0;
  } */
  .secondary-nav-button {
    width: 80%;
  }
}

@media only screen and (max-width: 575px) {
  .burger {
    display: block;
    top: 2.5rem;
    right: 0.5rem;
  }

  .navbar {
    padding-left: 0;
  }

  .top-navbar {
    border-top-left-radius: 0rem;
    transition: all 0.3s ease;
  }
}
