#report-output-div {
  padding: 1em;
  display: -webkit-box;
  display: flex;
}

#report-output-div * {
  font-family: Helvetica, Arial, sans-serif;
}

#report-output-div .flex-row {
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

#report-output-div .flex-row .card {
  /* padding: 0.5em; */
  background-color: #fafafa;
  border: 2px solid #bfbfbf;
  border-radius: 1em;
  /* margin: 1em; */
  padding: 1em;
  width: 35em;
}

#report-output-div table:nth-child(3) {
  margin: 1em;
}

#report-output-div .flex-row div:nth-child(1) {
  padding-right: 2em;
}

#report-output-div table {
  table-layout: fixed;
  background-color: #fafafa;
  border: 1px solid #bfbfbf;
  border-radius: 0.5em;
  margin: 1em 0;
  white-space: nowrap;
}

#report-output-div th,
#report-output-div td {
  text-align: center;
  padding: 0.8em;
}

#report-output-div tr:not(:last-child) th,
#report-output-div tr:not(:last-child) td,
#report-output-div thead:not(:last-child) th,
#report-output-div thead:not(:last-child) td {
  border-bottom: 1px solid #dfdfdf;
}

#report-output-div th:not(:last-child),
#report-output-div td:not(:last-child) {
  border-right: 1px solid #dfdfdf;
}

#report-output-div .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
