:root {
  --element-bg-color: white;
  --content-max-height: calc(100vh - 8.98em);
  --content-min-height: calc(55.5rem - 18.9rem);
  --opt-width: 50vw;
  --opt-side-scroll-width: 125pt;
  --opt-side-scroll-min-width: 3rem;
  --select-blue: rgb(8, 124, 240);
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
}

body {
  justify-content: space-around;
  flex-direction: column;
  color: #1b1b1b;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.home-screen {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}
.home-screen a {
  padding: 4.5em;
  cursor: pointer;
  border: 1px solid silver;
  border-radius: 0.5em;
  text-decoration: none;
  font-size: 1.75em;
}
.home-screen a:hover {
  box-shadow: 0 0 10px 0 #8080803a;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

h4 {
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: auto;
}

section {
  height: 100%;
}

.main-split {
  display: flex;
}

.main-split .sidebar-master {
  background-color: white;
  box-shadow: 5px 0 5px 5px #16161634;
}

.main-split .sidebar {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.main-split .sidebar li {
  padding: 1em;
  border-radius: 0;
  border: none;
  background: none;
  color: gray;
  border-left: 3px solid transparent;
}
.main-split .sidebar li.active,
.main-split .sidebar li:hover {
  color: var(--select-blue);
  border-left: 3px solid var(--select-blue);
}

.main-split .sidebar button:last-child {
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.main-split .app-1 {
  border-left: 1px solid silver;
  width: 100%;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.mobile-scroll {
  display: flex;
  border: none;
  background-color: #ecf0f5a9;
  align-items: center;
}

@media only screen and (max-width: 810px) {
  .mobile-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin: auto;
    padding: 0;
    scrollbar-width: thin;
  }

  .mobile-scroll::-webkit-scrollbar {
    display: none;
  }

  .main-split .sidebar-master {
    display: none;
  }
}
