:root {
  --element-bg-color: white;
  --content-max-height: calc(100vh - 7.98em);
  --content-min-height: calc(55.5rem - 18.9rem);
  --opt-width: 50vw;
  --opt-side-scroll-width: 125pt;
  --opt-side-scroll-min-width: 3rem;
  --select-blue: rgb(8, 124, 240);
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
}

b {
  color: #636363;
}
body {
  justify-content: space-around;
  flex-direction: column;
  color: #1b1b1b;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.home-screen {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}
.home-screen a {
  padding: 4.5em;
  cursor: pointer;
  border: 1px solid silver;
  border-radius: 0.5em;
  text-decoration: none;
  font-size: 1.75em;
}
.home-screen a:hover {
  box-shadow: 0 0 10px 0 #8080803a;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

h4 {
  margin: 0;
}

/* span {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
} */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: auto;
}

section {
  height: 100%;
}

.main-split {
  display: flex;
}

.main-split .sidebar-master {
  background-color: white;
  box-shadow: 5px 0 5px 5px #16161634;
}

.main-split .sidebar {
  display: flex;
  flex-direction: column;
  /* width: 52px; */
  /* transition: all 0.15s ease-in-out; */
}
/* .main-split .sidebar:hover {
  width: 150px;
  transition: all 0.15s ease-in-out;
} */
.main-split .sidebar.button:hover {
  background-color: #e7e7e7;
  border-radius: 2em;
}
.main-split .sidebar li {
  list-style: none;
  padding: 1em;
  border-radius: 0;
  border: none;
  background: none;
  color: gray;
  border-left: 3px solid transparent;
}
.main-split .sidebar li.active {
  color: var(--select-blue);
  border-left: 3px solid var(--select-blue);
}

.main-split .app-1 {
  border-left: 1px solid silver;
  /* width: 100%; */
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.mobile-scroll {
  display: flex;
  border: none;
  max-width: 1440px;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* box-sizing: content-box; */
  background-color: #ecf0f5a9;
  align-items: center;
}

@media only screen and (max-width: 810px) {
  :root {
    --content-max-height: calc(100vh - 6.7em);
  }
  [id$="-body"].left-card.active,
  [id$="-body"].my-card {
    position: relative;
    margin: 0;
    min-width: calc(100vw - 0.25rem);
    scroll-snap-align: center;
    padding: 0;
  }
  .mobile-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin: auto;
    padding: 0;
    scrollbar-width: thin;
  }
  .mobile-scroll::-webkit-scrollbar {
    display: none;
  }
  .main-split {
    display: block;
  }
  .main-split .sidebar li {
    border-left: 3px solid transparent;
  }
  .main-split .sidebar li.active {
    border-left: 3px solid transparent;
    border-bottom: 3px solid var(--select-blue);
  }
  .main-split .sidebar-master {
    box-shadow: none;
    border-bottom: 1px solid silver;
  }
  .main-split .sidebar {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .view-tools {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    display: flex;
  }
  .view-tools.sidebar {
    padding: 0;
    margin: 0;
  }
  .navbar {
    padding-left: 0;
  }
  .navbar img {
    display: none;
  }
  .nav-burger {
    display: none;
  }
  .nav-composite {
    transform: translateY(0%);
  }
  .bottom-navbar {
    display: none;
  }
}
