.toolbar {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  box-shadow: 0 0 2px 0 gray;
  z-index: 10;
}

.title-with-help {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 300%;
}
